
.caseBody{
    padding: 45px 90px ;
    margin: 0px auto ;
    width: 210mm;
    min-height: 297mm;
    background: #fff;
    border:1px solid #000;
    position: relative;
    text-align:justify;
    
    
}
.caseHead{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 100PX;
}
.img-azul{
    width: 150px;
}
.caseText{
    line-height: 25px;
}
.caseAssign{
    text-align: center;
    margin-top: 60px;
}

.infAzul{
    margin-top: 40px;
    font-size: 10px;
}

table,th{
border: 1px solid black;
border-collapse: collapse;
width: 100%;
}
th{
    font-size: 10px;
    height: 15px;
    text-decoration: none;
    line-height: 15px;
}
.thSize{
    font-size: 10px;
    padding: 0 10px ;
    text-align: center;
}

td{
    font-size: 10px;
    text-decoration: none;
    line-height: 15px;
}
.caseVersion{
    margin-top: 290px;
}
.termBold{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}